html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 1em;
	background: lightsteelblue;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header,#wrapper{
	max-width: 1500px;
	width: 96.3%;
	margin: 1em auto ;
}
header h1{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background: rgba(255, 255, 255, 0.75);
	font-size: 25px;
	text-align: center;
}
#wrapper{
	display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 100px auto 40px;
}
.cats-wat-helmets{
	width: 600px;
}
.center-grid{
	align-items: center;
	justify-items: center;
}
.first-block .first-block_imagenes {
    display: grid;
    grid-template-columns: repeat(3,31.7vw);
    grid-template-rows: repeat(3,38vw);
    width: fit-content;
    margin: auto;
}
#lookbook-fw18{
	margin-bottom: 3em;
}
#lookbook-fw18 img {
	  border: 2px solid whitesmoke;
    width: 93%;
    display: block;
    margin: 0 auto;
}
.left-side{
	grid-column-start: 1;
  grid-column-end: 3;
}
.right-side{
   grid-column-start: 2;
   grid-column-end: 4;
}
.first-big{
    margin: 0;
    grid-row-start: 2;
    grid-row-end: 4;
}
.big{
    width: 100%;
}
#lookbook-fw18 .big img{
  width: 96%;
}
.snd-big{
    margin: 0;
    grid-row-start: 2;
    grid-row-end: 4;
}
 .trd-big {
    grid-row-start: 5;
    grid-row-end: 7;
    margin: 0;
}
.fth-big {
    margin: 0;
    grid-row-start: 7;
    grid-row-end: 9;
}
.duo ul{
	  margin: 1em auto;
    margin-bottom: 3em;
    flex-wrap: wrap;
    display: flex;
    height: 54vw;
    width: 98%;
    justify-content: space-between;
}
.duo ul li {
    width: 50%;
    margin: 0;
}
.snd-block ul{
	display: grid;
  grid-template-columns: repeat(3,31.7vw);
  grid-template-rows: repeat(8,38vw);
}
