html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 1em;
	background: linear-gradient(270deg, #30eebd, #f1ade3, #ddd1da);
	background-size: 500% 500%;

	-webkit-animation: AnimationName 16s ease infinite;
	-moz-animation: AnimationName 16s ease infinite;
	animation: AnimationName 16s ease infinite;

	@-webkit-keyframes AnimationName {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@keyframes AnimationName { 
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header,#wrapper{
	max-width: 1500px;
	width: 90%;
	margin: 1em auto ;
}
header h1{
	font-size: 25px;
	text-align: center;
}
#wrapper{
	display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 100px auto 40px;
}
.cats-wat-helmets{
	width: 600px;
}
.first-block .first-block_imagenes {
    display: grid;
    grid-template-columns: repeat(3,31.7vw);
    grid-template-rows: repeat(3,38vw);
}
#lookbook-fw18{
	margin-bottom: 3em;
}
#lookbook-fw18 img {
    width: 93%;
    display: block;
    margin: 0 1em;
}
.first-big{
    width: 103.3%;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.snd-big{
    width: 103%;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
 .trd-big {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    width: 103.5%;
    margin: 0;
}
.fth-big {
    width: 103.5%;
    margin: 0;
    -ms-grid-column: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-row: 7;
    grid-row-start: 7;
    grid-row-end: 9;
}
.duo ul{
    margin-bottom: 3em;
    flex-wrap: wrap;
    display: flex;
    height: 54vw;
    width: 98%;
    justify-content: space-between;
}
.duo ul li {
    width: 50%;
    margin: 0;
}
.snd-block ul{
	display: grid;
  grid-template-columns: repeat(3,31.7vw);
  grid-template-rows: repeat(8,38vw);
}
